@media (max-width: 576px) {
  .cabecalho {
    padding: 15px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #ImagemPrincipalLogo {
    right: 1%;
    margin-top: 5px;
  }

  .cabecalho-menu ul {
    gap: 50px;
    margin-top: 13px;
  }

  .principal {
    height: auto; 
    flex-direction: column;
    align-items: center;
  }

  .principal-conteudo {
    width: 90%; 
    padding: 30px 30px 0 30px;
  }

  #imgCasaPrincipal {
    top: 68%;
    left: 11%;
    width: 78%;
    height: auto;
  }

  .botao {
    width: 50%;
  }

  .container-cards {
    max-width: 100%; 
    flex-direction: column;
    margin-top: 60px; 
  }

  .container-cards .card {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
  }  

  .container-title {
    margin-top: 70%; 
  }
  
  .container-cards2 {
    flex-direction: column;
  }

  .container-cards2 .card2 {
    margin: 0 auto;
    margin-bottom: 20px; 
  }

  .botao2 {
    width: 50%;
  }

  .nomeemail div,
  .telefoneendereco div {
    flex-direction: column;
  }

  .botao3 {
    width: 50%;
    margin: 0 auto; 
    display: block;
  }
  
}
