@media (max-width: 576px) {
  * {
    font-size: 14px;
  }

  .cabecalho {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .cabecalho-logo {
    text-align: center;
  }

  .cabecalho-menu {
    text-align: center;
    margin-top: 20px;
  }

  .cabecalho-menu ul {
    padding: 0;
  }

  .cabecalho-menu li {
    display: inline;
    margin: 0 10px;
  }


  .principal-conteudo {
    text-align: center;
  }

  #imgCasaPrincipal {
    width: 100%;
    height: auto;
  }

  .botao {
    width: 100%;
  }

  .container-title {
    text-align: center;
  }

  .container-cards {
    flex-direction: column;
  }

  .card {
    margin-bottom: 20px;
    text-align: center;
  }

  .container-title2,
  .container-cards2 {
    text-align: center;
  }

  .card2 {
    text-align: center;
  }

  .container-cards2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card2 {
    margin: 10px;
  }

  .botao2 {
    width: 50%;
  }

  #contato {
    text-align: center;
  }

  form input,
  form textarea {
    width: 100%;
    max-width: 100%;
  }

  .botao3 {
    width: 100%;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-col1,
  .footer-col2,
  .footer-col3 {
    width: 100%;
  }

  .footer-social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .footer-voltar {
    margin-top: 20px;
  }
}