@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  --primary: #00b98e;
  --secondary: #effdf5;
  --light: #effdf5;
  --dark: #0e2e50;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--light);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabecalho-logo h4 {
  list-style: none;
  text-decoration: none;
  color: var(--primary);
  font-size: 2.5rem;
  margin-left: 20px;
}

#ImagemPrincipalLogo {
  position: absolute;
  left: 2%;
  margin-top: 0.1%;
}

.cabecalho-menu ul {
  display: flex;
  justify-content: center;
  gap: 55px;
  list-style: none;
  margin-top: 10px;
}

.cabecalho-menu ul li a {
  color: var(--dark);
  text-decoration: none;
  font-size: 1.2rem;
}

.color-primary2 {
  color: var(--primary);
  font-size: 1.2rem;
}

.cabecalho {
  padding: 50px 80px;
  display: flex;
  justify-content: space-between;
  background-color: var(--light);
}

main {
  height: 600px;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.principal-conteudo {
  padding: 0 90px;
  width: 55%;
}

.principal-conteudo h1 {
  font-size: 4.0628rem;
  color: var(--dark);
  margin-bottom: 40px;
  padding: 0 120px 0 0;
}

.principal-conteudo p {
  font-size: 1.25rem;
  color: var(--dark);
  line-height: 1.5;
}

.color-primary {
  color: var(--primary);
  font-size: 4.0625rem;
}

#imgCasaPrincipal {
  position: absolute;
  left: 60%;
  top: 10.2%;
  width: 40%;
  height: 80%;
}

.botao {
  border: none;
  border-radius: 5px;
  height: 70px;
  width: 225px;
  background-color: var(--primary);
  color: var(--light);
  font-size: 1.25rem;
  margin-top: 40px;
}

.container-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-title h2 {
  font-size: 2.8125rem;
  color: var(--dark);
  margin-top: 20%;
}

.container-title p {
  text-align: center;
  font-size: 1.25rem;
  margin-top: 30px;
}

.container-cards {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 1.25rem;
}

.container-cards p {
  color: var(--primary);
}

.container-cards {
  margin: 0 auto;
  max-width: 70%;
  margin-top: 4%;
  display: flex;
  justify-content: space-between;
}

.container-cards .card {
  border: 2px solid var(--primary);
  border-radius: 5px;
  padding: 5%;
  box-shadow: 0px 0px 0px 20px rgba(181, 243, 224, 0.3);
  height: 260px;
}

.container-title2 {
  display: flex;
  flex-direction: column;
  font-size: 2.8125rem;
  color: var(--dark);
  margin-top: 10%;
  justify-content: center;
  align-items: center;
}

.cabecalho-secao2 p {
  text-align: center;
  font-size: 1.25rem;
  margin-top: 30px;
}

.container-cards2 {
  display: flex;
  justify-content: space-between;
  font-size: 1.4375rem;
  margin: 0 auto;
  max-width: 90%;
}

.property-types {
  text-align: center;
  margin: 30px;
}

.container-cards2 .card2 img {
  width: 100%;
  height: auto;
}

.container-cards2 h4 {
  color: var(--dark);
}

.container-cards2 h3 {
  color: var(--primary);
  margin-bottom: 20px;
}

.container-cards2 .card2 h4 {
  margin-bottom: 10px;
}

.container-cards2 .card2 {
  border: 2px solid var(--light);
  border-radius: 5px;
  margin: 10px;
}

.container-cards2 .card2 p {
  margin-bottom: 25px;
  text-align: left;
}

.container-cards2 .card2 h3 {
  margin-top: 20px;
}

.container-cards2 .card-conteudo2 h3,
.container-cards2 .card-conteudo2 h4,
.container-cards2 .card-conteudo2 p {
  padding-left: 20px;
}

.botao2 {
  border: none;
  border-radius: 5px;
  height: 65px;
  width: 330px;
  background-color: var(--primary);
  color: var(--light);
  font-size: 1.25rem;
  margin: 10px auto 0;
  display: block;
}

section h2 {
  font-size: 2.8125rem;
  color: var(--dark);
  margin-top: 10%;
}

section p {
  text-align: center;
  font-size: 1.25rem;
}

#contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

form {
  display: grid;
  margin-top: 2%;
  gap: 10px;
}

form input,
form textarea {
  width: 100%;
  padding: 20px;
  border: 1px solid #eedede;
  border-radius: 5px;
}

form textarea[name="mensagem"] {
  height: 180px;
}

.nomeemail,
.telefoneendereco {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nomeemail div,
.telefoneendereco div {
  flex: 1;
  margin: 5px;
}

.botao3 {
  border: none;
  border-radius: 5px;
  height: 65px;
  width: 1600px;
  background-color: var(--primary);
  color: var(--light);
  font-size: 1.25rem;
}

.footer {
  background-color: var(--dark);
  margin-top: 12%;
  display: flex;
  height: 280px;
}

.footer-col1,
.footer-col2,
.footer-col3 {
  width: 30%;
  flex-direction: column;
  gap: 90px;
  margin-top: 2%;
  line-height: 2.0;
  color: rgb(149, 149, 170);
  padding-left: 100px;
}

.footer-title {
  font-size: 1.3rem;
  color: var(--light);
}

.footer-social {
  display: flex;
  position: absolute;
  margin-top: 10.2%;
  left: 4.9%;
  gap: 9px;
}

.footer-social img {
  width: 35px;
}

.footer-col1 .contact-address,
.footer-col1 .contact-phone,
.footer-col1 .contact-email {
  display: flex;
  align-items: center;
  color: rgb(149, 149, 170);
  gap: 20px;
  text-align: center;
}

.footer-title2 {
  font-size: 1.3rem;
  color: var(--light);
}

#imgFlechaFooter {
  position: absolute;
  height: 6%;
  width: 3%;
  right: 4%;
  margin-top: 9.5%;
}